<div class="container">
    <form [formGroup]="form">
        <ul class="chips-list">
            <li class="selected chip" *ngFor="let item of selectedList; let i = index;">
                <a (click)="remove(item)">{{item}} <i class="fa fa-times" aria-hidden="true"></i></a>
            </li>
                <input #fakeInput formControlName="languages" type="text" class="chip-input-control form-control"
                       [(ngModel)]="query" (keyup)="filter($event)" placeholder="Type a Programming Languages">
        </ul>
        <div class="suggestions" *ngIf="filteredList.length > 0">
            <ul *ngFor="let item of filteredList; let idx = index">
                <li>
                    <a (click)="select(item)">{{item}}</a>
                </li>
            </ul>
        </div>
    </form>
</div>