<div class="container">
    <form [formGroup]="form">
        <ul class="chips-list">
            <li class="selected chip" *ngFor="let item of selectedList; let i = index;">
                <a (click)="removeItem(item)">{{item}} <i class="fa fa-times" aria-hidden="true"></i></a>
            </li>
            <input #fakeInput formControlName="languages" type="text" class="chip-input-control form-control"
                   [(ngModel)]="query" placeholder="Type a Programming Languages">
        </ul>
        <div class="suggestions" *ngIf="filteredList.length > 0">
            <ul>
                <li *ngFor="let item of filteredList; let idx = index">
                    <a (click)="writeValue(item)"
                       [class.active]="isActive(idx)">{{item}}</a>
                </li>
            </ul>
        </div>

    </form>
</div>
