/* You can add global styles to this file, and also import other style files */

html {
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 600px;
    margin-left: 10px;
    margin-top: 10px;
}

.suggestions {
    border: solid 1px #f1f1f1;
    position: absolute;
    width: 624px;
    background: white;
}

.suggestions ul {
    padding: 0;
    margin: 0;
}

.suggestions ul li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions ul li a {
    padding: 5px;
    display: block;
    text-decoration: none;
    color: #7E7E7E;
}

.suggestions ul li a:hover {
    background-color: #F1F1F1;
}

.selected a {
    cursor: pointer;
    font-weight:bold;
}

.chips-list {
    list-style: none;
    cursor: text;
    flex: 1;
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s,
    -webkit-box-shadow ease-in-out .15s;
}

.chip-input-control {
    border: none;
    width: 15em;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
}

.chip {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFF;
    background-color: #b9b9b9;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.chip--input {
    display: inline-block;
}